// table {
//     table-layout: fixed;
//     width: 100%;
//     border-collapse: collapse;
//     border: 3px solid rgb(250, 239, 239);
//   }
  
//   thead th:nth-child(1) {
//     width: 30%;
//   }
  
//   thead th:nth-child(2) {
//     width: 20%;
//   }
  
//   thead th:nth-child(3) {
//     width: 15%;
//   }
  
//   thead th:nth-child(4) {
//     width: 35%;
//   }
  
//   th, td {
//     padding: 20px;
//   }
  
// tbody tr:nth-child(odd) {
//     background-color: #888788;
//   }
  
//   tbody tr:nth-child(even) {
//     background-color: #747274;
//   }
    
//   table {
//     background-color: #e4dce4;
//   }
//   thead th, tfoot th, tfoot td {
//     background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
//     border: 3px solid purple;
    
//   }
  

.Table

{

    display: table;

}

.Title

{

    display: table-caption;

    text-align: center;

    font-weight: bold;

    font-size: larger;

}

.Heading

{

    display: table-row;

    font-weight: bold;

    text-align: center;

}

.Row

{

    display: table-row;

}

.Cell

{

    display: table-cell;

    border: solid;

    border-width: thin;

    padding-left: 5px;

    padding-right: 5px;
    cursor:pointer;

}